{% set elasticsearch = salt['pillar.get']('elasticsearch', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'pkg': 'elasticsearch',
            'use_upstream_repo': True,
        },
        'RedHat': {
            'pkg': 'elasticsearch',
            'use_upstream_repo': True,
        },
    }),
    'config': {},
}, merge=True) %}
